* {
  font-family: "FantasqueSansM Nerd Font";
  font-size: 14px;
  font-weight: Bold;
}

window {
  background-color: rgba(48, 52, 70, 0.2);
  border-radius: 25px;
}

.modules-center, .modules-right,  .modules-left{
  color: #d8dee9;
  padding: 5px 20px 5px 10px;
}

#clock, #language {
  color: #8caaee;
}

#language {
  margin-left: -7.5px;
}

#workspaces button {
  padding: 0px 5px;
  color: #c6d0f5;
}

#workspaces button.active {
  color: #c6d0f5;
}

#workspaces button:hover {
  background-color: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #8caaee;
}

#workspaces button.urgent {
  color: #e78284;
}

tooltip {
  border-radius: 5px;
  background-color: #303446;
  opacity: 0.9;
}
