* {
  font-family: "FantasqueSansM Nerd Font";
  font-size: 14px;
  font-weight: Bold;
}

window {
  background-color: rgba(59, 66, 82, 0.2);
  border-radius: 25px;
}

.modules-center, .modules-right,  .modules-left{
  color: #d8dee9;
  padding: 5px 20px 5px 10px;
}

#clock, #language {
  color: #8fbcbb;
}

#language {
  margin-left: -7.5px;
}

#workspaces button {
  padding: 0px 5px;
  color: #d8dee9;
}

#workspaces button.active {
  color: #d8dee9;
}

#workspaces button:hover {
  background-color: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d8dee9;
}

#workspaces button.urgent {
  color: #bf616a;
}
