* {
  font-family: FantasqueSansM Nerd Font, iransansX;
  font-size: 14px;
  font-weight: Bold;
}

.modules-center, .modules-right,  .modules-left{
  color: #cdd6f4;
  padding: 0px 10px 0px 0px;
}

#clock, #language {
  color: #89b4fa;
}

#language {
  margin-left: -5px;
}

#workspaces button {
  border-radius: 0px;
  padding: 0px 3px;
  color: #cdd6f4;
}

#workspaces button.empty {
    color: #a6adc8;
}

#workspaces button:hover {
  background-color: #181825;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #89b4fa;
  border-color: #313244;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #1e1e2e;
}

tooltip {
  border-radius: 3px;
  background-color: #1e1e2e;
}

