* {
  font-family: FantasqueSansM Nerd Font, iransansX;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 0px;
}

#outer-box {
  background-color:#181825;
}

#entry:selected , #entry:selected  #expander-box {
  color: #1e1e2e;
  background-color: #89b4fa;
}

#expander-box {
  background-color: inherit;
}

#entry #text, #entry:hover{
  color: inherit;
}

#entry {
  padding: 4px;
}

#input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #1e1e2e;
}

#img {
  margin: 0px 8px;
}

