* {
  border-radius: 0;
  outline: none;
  border: none;
}

#window {
  font-family: "FantasqueSansM Nerd Font";
  font-size: 18px;
  background-color: rgba(46,52,64,0.8);
  border-radius: 7px;
}

image {
  margin: 0px 8px;
}

#entry:selected , #entry:selected  #expander-box {
  color: #3B4252;
}

#expander-box {
  background-color: inherit;
}

#entry #text , #entry:hover{
  color: inherit;
}

#entry {
  padding: 0.5em;
  border-radius: 25px;
}

#input {
  padding: 0.5em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}